{% extends "layout_ae.html" %}
{% block body %}

<div class="block1">
<h1>AE Commands!</h1>
  <h2>Expanded help for aq3d and aqw commands!</h2>
  <p>The char command</p>
  <img src = "https://image.ibb.co/e40dkR/char.png">
  <br><br><p>The aq3dserver command</p>
  <img src = "https://image.ibb.co/fBC2C6/aq3dserver.png">
  <br><br><p>The aq3ditem command</p>
  <img src = "https://image.ibb.co/jrGjQR/aq3ditem.png">
  <br><br><p>The aq3dnews command</p>
  <img src = "https://image.ibb.co/cpMvX6/news.png">
  <br><br><p>The aqwserver command</p>
  <img src = "https://image.ibb.co/dhuhC6/aqwservers.png">
  <br><br><p>The aqwchar command</p>
  <img src = "https://image.ibb.co/mtnPQR/aqwchar.png">
  <br><br><p>The aqwbadges command</p>
  <img src = "https://image.ibb.co/jB615R/aqwbadges.png">
  <br><br><p>The aqwitem command</p>
  <img src = "https://image.ibb.co/kEges6/aqwitem.png">






</div>
{% endblock %}
