{% extends "layout_cmds.html" %}
{% block body %}

<div class="block1">
<h1>Hello User!</h1>
  <h2>Here is my command list!</h2>
  <p>
    you can add me <a href = "https://discordapp.com/oauth2/authorize?client_id=385681784614027265&scope=bot&permissions=305196166">here!</a>
  </p>
  <br><h3>The General Commands</h3>
  <p>`user`, `server`, `help` , `invite`, `about`, `avatar`</p>
  <br><p>Expanded help for general commands can be found <a href = "commands/general">here!</a>
  <br><br><h3>AE Commands</h3>
  <br><p>i)AQ3D: `char`, `aq3ditem`, `aq3dserver`, `aq3dnews`<br>ii)AQW: `aqwchar`, `aqwbadges`, `aqwserver`, `aqwitem`<br>iii)EpicDuel: `epchar` </p>
  <br><p>Expanded help for AE commands can be found <a href = "commands/ae">here</a>
  <br><br><h3>Translator</h3>
  <br><p>All translator related commands in <a href = "commands/translator">here</a>
  <br><br><h3>Moderation Tools</h3>
  <br><p>`kick`, `ban`, `bans`, `mute`, `unban`, `unmute`, `addrole`, `removerole`</p>
  <br><p>Expanded help for moderation tools in <a href = "commands/moderation">here</a>
  <br><br><h3>Welcome/Leave</h3>
  <br><p>`welcomemsg`, `togglewel`, `leavemsg`, `toggleleave`</p>
  <br><p>Expanded help for this can be found <a href = "commands/weleave">here</a></p>
  <br><br><h3>Miscellaneous Commands</h3>
  <br><p>`emoji`, `rate`, `actions`, `cmdadd`, `cmd`, `allcmds`, `google`, `wikipedia`</p>
  <br><p>Expanded help for Miscellaneous commands can be found <a href = "commands/miscellaneous">here</a></P>

</div>
{% endblock %}
