{% extends "layout_gen.html" %}
{% block body %}

<div class="block1">
<h1>General Commands!</h1>
  <h2>Expanded help for general commands!</h2>
  <p>The user command</p>
  <img src = "https://image.ibb.co/kXYQX6/user.png">
  <br><br><p>The server command</p>
  <img src = "https://image.ibb.co/hwpFX6/server.png">
  <br><br><p>The invite command</p>
  <img src = "https://image.ibb.co/j28QX6/invite.png">
  <br><br><p>The about command</p>
  <img src = "https://image.ibb.co/jTkTkR/about.png">
  <br><br><p>The avatar command</p>
  <img src = "https://image.ibb.co/nrpFX6/avatar.png">
  <br><br><p>The help command</p>
  <img src = "https://image.ibb.co/ixBjQR/help.png">






</div>
{% endblock %}
