{% extends "layout_home.html" %}
{% block body %}

<div class="block1">
<h1>Hello User!</h1>
  <h2>Thank you for adding me to your server :D</h2>
  <p>
    if you didn't add me yet, <a href = "https://discordapp.com/oauth2/authorize?client_id=385681784614027265&scope=bot&permissions=305196166">click here</a>
  </p>
  <p>
    <br>
    <a href = "/">1. Home</a>
    <br>
    <a href = "/flogin">2. Admin Login!</a>
    <br>
    <a href = "/commands">3. Commands</a>
  </p>
<img src="https://image.ibb.co/ehAY26/winterq.jpg">
<br><br><br><p>Made by Quanta#5556</p>
</div>
{% endblock %}
