<html>
<head>
    <title>AE commands!</title>
<style>
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body{
    text-align: center;
    background: url("http://www.dream-wallpaper.com/free-wallpaper/art-wallpaper/snowflake-vector-wallpaper/1920x1200/free-wallpaper-4.jpg");
    text-shadow: 4px 4px 4px #aaa;
    background-size: cover;
}
h1{
    font-family: 'Inconsolata', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
}

</style>

</head>
<body>
 {% block body %}{% endblock %}

</body>
</html>
