{% extends "layout_misc.html" %}
{% block body %}

<div class="block1">
<h1>Miscellaneous Commands!</h1>
  <h2>Expanded help for miscellaneous commands!</h2>
  <p>The emoji command</p>
  <img src = "https://image.ibb.co/jHvTKm/emoji.png">
  <br><br><p>Emoji Commands:</p>
  <img src = "https://image.ibb.co/b2dtkR/emoji_commands.png">
  <br><br><p>The rate command</p>
  <img src = "https://image.ibb.co/dZitkR/rate.png">
  <br><br><p>The actions command</p>
  <img src = "https://image.ibb.co/hgkZs6/actions.png">
  <br><br><p>Action Commands:</p>
  <img src = "https://image.ibb.co/bGAzS6/actions.png">
  <br><br><p>The cmdadd command</p>
  <img src = "https://image.ibb.co/jrr7C6/cmdadd.png">
  <br><br><p>The cmd command</p>
  <img src = "https://image.ibb.co/c90TKm/cmd.png">
  <br><br><p>The allcmds command</p>
  <img src = "https://image.ibb.co/dhLTKm/allcmds.png">
  <br><br><p>The google command</p>
  <img src = "https://image.ibb.co/dJvjs6/google.png">
  <br><br><p>The wikipedia command</p>
  <img src = "https://image.ibb.co/hZENem/wikipedia.png">





</div>
{% endblock %}
