{% extends "layout_mod.html" %}
{% block body %}

<div class="block1">
<h1>Moderation Commands!</h1>
  <h2>Expanded help for moderation commands!</h2>
  <p>To be Noted!</p>
  <img src = "https://image.ibb.co/c5d9s6/note.png">
  <p>The kick command</p>
  <img src = "https://image.ibb.co/meD9s6/kick.png">
  <br><br><p>The ban command</p>
  <img src = "https://image.ibb.co/diJaX6/ban.png">
  <br><br><p>The bans command</p>
  <img src = "https://image.ibb.co/kvmUs6/bans.png">
  <br><br><p>The mute command</p>
  <img src = "https://image.ibb.co/hfinem/mute.png">
  <br><br><p>The unban command</p>
  <img src = "https://image.ibb.co/mkFiKm/unban.png">
  <br><br><p>The unmute command</p>
  <img src = "https://image.ibb.co/cnaHem/unmute.png">
  <br><br><p>The addrole command</p>
  <img src = "https://image.ibb.co/j6skX6/addrole.png">
  <br><br><p>The removerole command</p>
  <img src = "https://image.ibb.co/bzzokR/removerole.png">






</div>
{% endblock %}
