{% extends "layout_wel.html" %}
{% block body %}

<div class="block1">
<h1>Welcome/Leave Commands!</h1>
  <h2>Expanded help for welcome/leave commands!</h2>
  <p>The welcomemsg command</p>
  <img src = "https://image.ibb.co/mSvvzm/welcomemsg.png">
  <br><br><p>The togglewel command</p>
  <img src = "https://image.ibb.co/gp6Ps6/togglewel.png">
  <br><br><p>The leavemsg command</p>
  <img src = "https://image.ibb.co/i0fjs6/leavemsg.png">
  <br><br><p>The toggleleave command</p>
  <img src = "https://image.ibb.co/ev8R5R/toggleleave.png">







</div>
{% endblock %}
